button {
  all: unset;
}

.arrow {
  position: relative;
  top: -1px;

  width: 16px;
  height: 8px;

  border-top: 1px solid var(--color-dark-700);

  fill: var(--color-dark-700);
}

.icon {
  width: 24px;
  height: 24px;
}

.trigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;

  &:focus-visible:active {
    border-radius: var(--border-radius-m);
    outline: 1px solid var(--color-info-500);
    outline-offset: 2px;
  }
}

.menuContent {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  padding: 0 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: var(--border-radius-s);

  animation: scale-in var(--transition-duration-fast) ease-in-out;
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
