.icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.trigger {
  cursor: pointer;
  display: flex;
}

.menu {
  min-width: 218px;
}

.option,
.triggerIcon {
  color: var(--color-light-100);

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }
}

.option {
  display: flex;
  gap: 6px;
  justify-content: flex-start;

  font-weight: var(--font-weight-regular);
  text-decoration: none;
}
