.icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.trigger {
  cursor: pointer;
  display: flex;
}

.menu {
  min-width: 218px;
}

.option {
  align-items: center;
  justify-content: flex-start;
  font-weight: var(--font-weight-regular);
  color: var(--color-light-100);
}
