.outputWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--36px);
  height: var(--36px);

  border: var(--1px) solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);
}

.root {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: var(--156px);
  height: var(--20px);
  margin: var(--margin-0) 15px;
}

.track {
  position: relative;

  flex-grow: 1;

  height: var(--5px);

  background-color: var(--color-accent-900);
  border-radius: var(--border-radius-l);
}

.range {
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-500);
  border-radius: var(--border-radius-l);
}

.thumb {
  cursor: grab;

  display: block;

  width: var(--16px);
  height: var(--16px);

  background-color: var(--color-light-100);
  border-radius: var(--border-radius-l);

  transition:
    width var(--transition-duration-default),
    height var(--transition-duration-default),
    box-shadow var(--transition-duration-default);

  &:hover,
  &:focus {
    width: var(--14px);
    height: var(--14px);
    box-shadow: var(--shadow-0) var(--color-accent-500);
  }

  &:focus {
    outline: none;
  }
}
