.icon {
  pointer-events: auto;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);

  svg:not(.iconClose) {
    width: 24px;
    height: 24px;
    stroke-width: 1;
  }
}
