.overlay {
  position: fixed;
  inset: 0;

  opacity: 0;
  background-color: var(--color-dark-900);

  transition: opacity var(--transition-duration-fast) cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='open'] {
    opacity: 0.7;
  }

  &[data-state='closed'] {
    opacity: 0;
  }
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  width: 100%;
  max-height: 85vh;

  background-color: var(--color-dark-700);
  border: var(--1px) solid var(--color-dark-500);
  border-radius: var(--border-radius-s);

  transition:
    transform var(--transition-duration-fast) cubic-bezier(0.16, 1, 0.3, 1),
    opacity 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='open'] {
    opacity: 1;
  }

  &[data-state='closed'] {
    opacity: 0;
  }
}

.header {
  padding: 18px 24px;
  border-bottom: var(--1px) solid var(--color-dark-500);
}

.description {
  padding: 18px 24px;
}

.body {
  padding: var(--24px);
}

.footer {
  padding: 12px 24px 36px;
}
