.action {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.mobile {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

.button {
  padding: 0;
  color: var(--color-light-100);
}

.buttonMobile {
  flex: 1;
  padding: 8px 24px;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);

  &:active {
    background-color: var(--color-light-900);
  }
}

.favorite {
  color: var(--color-danger-300);
}
