.action {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.mobile {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

.button {
  padding: 0;
  color: var(--color-light-100);
}

.buttonMobile {
  padding: 8px 24px;
  color: var(--color-light-100);
}

.favorite {
  color: var(--color-danger-300);
}

.tableCell {
  flex: 1;
  padding: 0;
  border: 1px solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);

  &:active {
    background-color: var(--color-light-900);
  }
}
