.table {
  width: 100%;
  max-width: 330px;
  border: 1px solid var(--color-dark-300);
  border-radius: var(--border-radius-s);
}

.cell {
  padding: 6px 12px;
  background-color: var(--color-dark-900);
  border: none;
}
