.tableContainer {
  width: 100%;
  border: none;
}

.tableItem {
  width: 100%;
  max-width: 320px;
  border: 1px solid var(--color-dark-300);
  border-radius: var(--border-radius-s);
}

.positionCell,
.headerCell {
  width: 30%;
  padding: 6px 12px;

  background-color: var(--color-dark-900);
  border: none;
  border-bottom: 1px solid var(--color-dark-700);
}

.positionCell {
  width: 70%;
  text-align: right;
}

.action {
  width: 300px;
  border: 1px solid var(--color-dark-300);
}
