.dropdownArrow {
  transform: rotate(var(--90-deg));
  width: var(--16px);
  height: var(--16px);
}

.selectTrigger {
  cursor: pointer;

  width: 100%;
  padding: 2px 6px;

  background-color: var(--color-dark-900);
  border: var(--1px) x solid var(--color-dark-300);
  border-top-left-radius: var(--border-radius-s);
  border-top-right-radius: var(--border-radius-s);
  outline: none;

  &:hover {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:focus {
    outline: var(--2px) solid var(--color-info-300);
  }

  &[data-state='open'] .dropdownArrow {
    transform: rotate(var(--270-deg));
    transition: all var(--transition-duration-default) var(--ease-in-out);
  }

  &[data-state='closed'] .dropdownArrow {
    transition: all var(--transition-duration-default) var(--ease-in-out);
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }
}

.selectContent {
  width: var(--radix-select-trigger-width);

  background-color: var(--color-dark-900);
  border: var(--1px) solid var(--color-dark-300);
  border-bottom-right-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
}

.selectItem {
  cursor: pointer;
  width: 100%;
  padding: 2px 6px;

  &[data-highlighted] {
    color: var(--color-accent-300);
    outline: none;
  }

  &:focus {
    outline: var(--2px) solid var(--color-info-300);
  }

  &:hover {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;

    &.disabled {
      cursor: default;
      color: var(--color-dark-300);
      background-color: transparent;
    }
  }
}

.label {
  cursor: default;
  margin: var(--margin-0);
  color: var(--color-dark-100);
}

.disabled {
  color: var(--color-dark-300);
}
