.container {
  position: relative;
  width: 100%;
  color: var(--color-dark-300);

  &:focus-within {
    color: var(--color-light-100);
    border-radius: var(--border-radius-xs);
    outline: var(--outline-width-s) solid var(--color-info-700);
  }

  &:focus-visible {
    outline: none;
  }
}

.input {
  width: 100%;
  height: 36px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);

  background-color: var(--color-dark-900);
  border: var(--border-width-s) solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);

  &::placeholder {
    font-style: italic;
    color: var(--color-dark-300);
  }

  &:hover {
    background-color: var(--color-dark-700);
  }

  &.error {
    color: var(--color-danger-300);
    border: var(--border-width-s) solid var(--color-danger-300);
  }

  &:focus-visible {
    outline: none; // потому что был белый браузерный бордер
  }

  &:disabled {
    pointer-events: none;

    &:focus {
      outline: none;
    }
  }

  &.search {
    padding: var(--padding-xs) var(--padding-xl);
  }

  &.text {
    padding: var(--padding-xs) var(--padding-s);
  }

  &.password {
    padding: var(--padding-xs) var(--padding-xl) var(--padding-xs) var(--padding-s);
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  background-color: var(--color-dark-900);
  transition: background-color 3000s ease-in-out 0s;

  // тут  --transition-duration- почему то отключает background-color и transition

  -webkit-text-fill-color: var(--color-light-100);
}

.icon {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);

  width: var(--icon-size-l);
  height: var(--icon-size-l);
  padding: var(--padding-xxs);

  &.disabled {
    cursor: not-allowed;
  }

  &.error {
    color: var(--color-danger-300);
  }

  &.search {
    left: 0;
    margin: 0 0.5em;
  }
}
