.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .label,
  ::placeholder {
    color: var(--color-dark-300);
  }

  .label {
    margin: var(--margin-0);
  }
}

.inputSvgWrapper {
  position: relative;
}

.input {
  width: 100%;
  height: var(--36px);
  padding: 0.5em;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: var(--1px) solid var(--color-dark-300);
  border-radius: var(--border-radius-xxs);

  &:hover {
    background-color: var(--color-dark-700);
  }

  &:active {
    color: var(--color-light-100);
    border: var(--1px) solid var(--color-light-100);
  }

  &:focus,
  &:focus-visible {
    border: var(--2px) solid var(--color-info-700);
  }

  &.error {
    color: var(--color-danger-300);
    border: var(--1px) solid var(--color-danger-300);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-dark-300);
    border: var(--1px) solid var(--color-dark-300);

    &:hover {
      background-color: inherit;
    }

    &:focus {
      outline: none;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: var(--12px);
  transform: translateY(-50%);

  width: var(--20px);
  height: var(--20px);
  padding: var(--1px);

  &.disabled {
    cursor: default;
    color: var(--color-dark-300);
  }

  &.search {
    left: 0;
    margin: var(--margin-0) 0.5em;
    color: var(--color-dark-300);

    &:active {
      color: var(--color-light-100);
    }
  }
}

input[type='search'] {
  padding: 7px 30px;
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}
