.hcell {
  &:hover {
    cursor: pointer;
    color: var(--color-warning-100);
    background-color: var(--color-dark-300);
  }

  &:active {
    color: var(--color-warning-500);
  }
}

.sort {
  transform: rotate(180deg);

  width: 20px;
  height: 20px;
  padding: 2px;

  transition: transform var(--transition-duration-default) ease-in-out;
}

.desc {
  transform: rotate(0);
  transition: transform var(--transition-duration-default) ease-in-out;
}
