.sort {
  transform: rotate(var(--minus-180-deg));

  width: 20px;
  height: 20px;
  padding: 2px;

  transition: transform var(--transition-duration-default) ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--color-warning-100);
  }

  &:active {
    border: var(--border-width-s) solid var(--color-dark-300);
    border-radius: var(--border-radius-s);
  }
}

.desc {
  transform: rotate(var(--minus-360-deg));
  transition: transform var(--transition-duration-default) ease-in-out;
}
