.icon {
  width: var(--icon-s);
  height: var(--icon-s);
}

.option {
  margin: 12px 0;
}

.option,
.triggerIcon {
  color: var(--color-light-100);

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }
}
