.table {
  border-collapse: collapse;

  width: 100%;

  border-color: var(--color-dark-500);
  border-style: solid;
  border-width: 0 1px 1px;
}

.headerCell,
.tableCell {
  padding: 6px 12px;
  text-align: left;
  vertical-align: center;
  border-bottom: 1px solid var(--color-dark-500);
}

.headerCell {
  background: var(--color-dark-500);
}
