.table {
  border-collapse: collapse;

  width: 100%;

  border-color: var(--color-dark-500);
  border-style: solid;
  border-width: 0 var(--border-width-s) var(--border-width-s);
}

.headerCell,
.tableCell {
  padding: 6px 24px;
  text-align: left;
  vertical-align: center;
  border-bottom: var(--border-width-s) solid var(--color-dark-500);
}

.headerCell {
  background: var(--color-dark-500);
}
