.icon {
  width: 16px;
  height: 16px;
}

.menu {
  min-width: 218px;
}

.trigger {
  cursor: pointer;
  display: flex;
}

.option {
  display: flex;
  gap: 6px;
  color: var(--color-light-100);
  text-decoration: none;

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }
}
