.avatarRoot {
  user-select: none;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  background-color: var(--color-dark-900);
  border-radius: var(--border-radius-rounded);
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.avatarFallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: var(--color-dark-700);
  text-align: center;

  background-color: var(--color-light-300);
}

.s {
  width: 36px;
  height: 36px;
  font-size: var(--font-size-s);
}

.m {
  width: 66px;
  height: 66px;
  font-size: var(--font-size-m);
}

.l {
  width: 96px;
  height: 96px;
  font-size: var(--font-size-l);
}
