.container {
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l {
  width: 350px;
}

.m {
  width: 170px;
}

.s {
  width: 118px;
}

.xl {
  width: 492px;
}
