.container {
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l {
  width: var(--350px);
}

.m {
  width: var(--170px);
}

.s {
  width: var(--118px);
}

.xl {
  width: var(--484px);
}
