.arrow {
  transform: rotate(45deg);

  width: 9px;
  height: 9px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-top: none;
  border-left: none;

  stroke-width: 2px;
  z-index: 200;
}

.menu {
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: var(--border-radius-s);

  &[data-state='open'] {
    animation: fade-in var(--transition-duration-fast) linear;
  }

  &[data-state='closed'] {
    animation: fade-out var(--transition-duration-fast) linear;
  }

  &[data-side='bottom'] {
    margin-top: 12px;

    .arrow {
      position: absolute;
      top: -16.75px;
      right: -4px;
    }
  }

  &[data-side='top'] {
    margin-bottom: 12px;

    .arrow {
      position: absolute;
      bottom: 7.75px;
      right: -4px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.item {
  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    border-radius: var(--border-radius-xs);
    outline: 1px solid var(--color-info-500);
    outline-offset: 2px;

    &:hover {
      outline: none;
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-500);
  margin: 12px 0;
}

.label {
  cursor: default;
}

.item,
.label {
  display: flex;
  gap: 6px;
}
