.container {
  width: 420px;
}

.textField {
  margin-bottom: 15px;
}

.form {
  width: 100%;
  margin-top: 26px;
  margin-bottom: 20px;
}

.checkbox {
  margin: 18px 0;
}

.link {
  margin-bottom: 50px;
  color: var(--color-light-100);
}

.typography {
  margin: 20px 0 10px;
}

.buttonSign {
  text-decoration: underline 1px solid;
}

p {
  margin: 0;
  padding: 0;
}
