.paginationContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.paginationOption {
  display: flex;
  place-content: center center;

  width: 24px;
  height: 24px;
  padding: 0 8px;

  background-color: transparent;
  border-radius: var(--border-radius-xs);
  box-shadow: none;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-dark-100);
    background-color: var(--color-light-100);
  }

  &.disabled:hover {
    cursor: default;
  }
}

.selected {
  pointer-events: none;
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
}

.arrow {
  width: 16px;
  height: 16px;
}

.arrowRight {
  transform: rotate(var(--180-deg));
}

.dots {
  pointer-events: none;
  cursor: default;
}

.selectOption {
  width: 50px;
  height: 24px;
}
