.overlay {
  position: fixed; // without this doesn't work opacity
  inset: 0;

  opacity: 0;
  background-color: var(--color-dark-900);

  transition: opacity var(--transition-duration-fast) cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='open'] {
    opacity: 0.7;
  }

  &[data-state='closed'] {
    opacity: 0;
  }
}

.content {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%) scale(0.96);

  overflow-y: auto;

  max-height: 90vh;
  margin: 25px 0;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: var(--border-radius-s);

  transition:
    transform var(--transition-duration-fast) cubic-bezier(0.16, 1, 0.3, 1),
    opacity 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='open'] {
    transform: translate(-50%, 0%) scale(1);
    opacity: 1;
  }

  &[data-state='closed'] {
    transform: translate(-50%, -50%) scale(0.96);
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  border-bottom: 1px solid var(--color-dark-500);
}

.description {
  padding: 0 24px;
}

.footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
}

.button {
  all: unset;

  svg {
    width: 20px;
    height: 20px;
  }
}
