.tabsRoot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tabsList {
  display: flex;
  flex-shrink: 0;
}

.tabsTrigger {
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0 24px;

  color: var(--color-light-100);

  background: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);

  &:hover {
    color: var(--color-light-900);
    background: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-dark-300);
    background: var(--color-dark-700);
    border: 1px solid var(--color-dark-300);
  }

  &:focus {
    outline: 2px solid var(--color-info-500);
  }

  &[data-state='active'] {
    background: var(--color-accent-500);
    border: 1px solid var(--color-accent-500);
    border-radius: var(--border-radius-xs);

    // Принудительно сохраняем стили при hover, когда элемент активен
    &:hover {
      color: var(--color-light-100);
      background: var(--color-accent-500);
      border: 1px solid var(--color-accent-500);
    }
  }
}

.label,
.tabTitle {
  margin: 5px 0;
}
