@use '../styles/colors';

:root {
  /* box-shadow */
  --box-shadow-offset-x-min: 10px;
  --box-shadow-offset-y-min: 10px;
  --box-shadow-blur-min: 8px;
  --box-shadow-scale-min: 0;
  --box-shadow-transparency-min: 0.5;
}
