:root {
  /* border radius */
  --border-radius-rounded: 50%;
  --border-radius-s: 0.25rem;
  --border-radius-xs: 0.125rem;
  --border-radius-xxs: 0.065rem;
  --border-radius-m: 0.375rem;
  --border-radius-l: 0.625rem;

  /* border width */
  --border-width-s: 1px;
  --border-width-m: 2px;

  /* outline width */
  --outline-width-s: 1px;
  --outline-width-m: 2px;

  /* gap size */
  --gap-xs: 6px;
  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 12px;

  /* box-shadow */
  --shadow-0: 0px 0px 0px 6px;
  --shadow-s: 1px 1px 2px 2px;
  --shadow-m: 2px 2px 4px 2px;

  /* max-width */
  --max-width-xs: 350px;
  --max-width-s: 420px;
  --max-width-m: 542px;
  --max-width-l: 1280px;

  /* padding */
  --padding-s: 12px;
  --padding-m: 16px;
  --padding-l: 24px;

  /* Rotation angle */
  --90-deg: 90deg;
  --180-deg: 180deg;
  --270-deg: 270deg;

  /* Transition settings */
  --transition-duration-slow: 1s;
  --transition-duration-default: 0.3s;
  --transition-duration-fast: 0.1s;

  /* Header */
  --header-height: 60px;

  /* Icon size */
  --icon-s: 16px;
  --icon-m: 18px;
  --icon-l: 20px;
  --icon-xl: 24px;

  /* Arrow size */
  --arrow-xs: 8px;
  --arrow-s: 16px;
  --arrow-m: 24px;
}
