:root {
  /* border-radius */
  --border-radius-rounded: 50%;
  --border-radius-l: 0.625rem;
  --border-radius-m: 0.313rem;
  --border-radius-s: 0.25rem;
  --border-radius-xs: 0.125rem;
  --border-radius-xxs: 0.065rem;

  /* box-shadow */
  --box-shadow-offset-x-min: 1px;
  --box-shadow-offset-y-min: 1px;
  --box-shadow-blur-min: 2px;
  --box-shadow-scale-min: 0;
  --box-shadow-transparency-min: 0.1;

  /* marginForDropdownItem */
  --margin-12px-0: 12px 0;

  /* Rotation angle */
  --90-deg: 90deg;
  --180-deg: 180deg;
  --270-deg: 270deg;

  /* Transition settings */
  --transition-duration-default: 0.3s;
  --transition-duration-fast: 0.1s;

  /* Header */
  --header-height: 60px;
}
