:root {
  --toastify-color-dark: var(--color-dark-700);
  --toastify-color-info: var(--color-info-300);
  --toastify-color-success: var(--color-success-100);
  --toastify-color-warning: var(--color-warning-300);
  --toastify-color-error: var(--color-danger-300);
  --toastify-text-color-dark: var(--color-light-900);
}
