.container {
  width: 100%;
  max-width: var(--max-width-s);
}

.avatar {
  margin-top: 22px;
}

.hint {
  margin-bottom: 5px;
}

.wrapper {
  position: relative;
}

.delete,
.edit {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  padding: 0;
}

.edit {
  position: absolute;
  top: 90px;
  left: 76px;

  @media screen and (width <= 320px) {
    top: 64px;
    left: 56px;
  }
}

.delete {
  position: absolute;
  top: 90px;
  left: 106px;

  @media screen and (width <= 320px) {
    top: 64px;
    left: 86px;
  }
}

.bottom {
  margin-bottom: 16px;
}

.icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.accent {
  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-500);
  }
}

.action .title {
  text-align: center;
}

.verifyEmail {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--color-danger-300);
  border-radius: var(--border-radius-l);
}
