.container {
  width: 100%;
  max-width: var(--max-width-s);
}

.avatar {
  margin-top: 22px;
}

.wrapper {
  position: relative;
}

.avatarButton {
  position: absolute;
  top: 90px;

  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  padding: 0;

  &.editAvatar {
    left: 76px;
  }

  &.deleteAvatar {
    left: 106px;
  }

  @media screen and (width <= 320px) {
    top: 64px;

    &.editAvatar {
      left: 56px;
    }

    &.deleteAvatar {
      left: 86px;
    }
  }
}

.bottom {
  margin-bottom: 16px;
}

.icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.title {
  text-align: center;
}
