.container {
  width: 100%;
  max-width: 420px;
}

.avatar {
  margin-top: 22px;
}

.hint {
  margin-bottom: 5px;
  color: var(--color-dark-100);
}

.wrapper {
  position: relative;
}

.editAvatar {
  position: absolute;
  top: 90px;
  left: 76px;

  width: 24px;
  height: 24px;
  padding: 0;
}

.bottom {
  margin-bottom: 16px;
}

.icon {
  width: 16px;
  height: 16px;
}
