.container {
  width: 100%;
  max-width: var(--420px);
}

.avatar {
  margin-top: 22px;
}

.hint {
  margin-bottom: 5px;
}

.wrapper {
  position: relative;
}

.editAvatar {
  position: absolute;
  top: 90px;
  left: 76px;

  width: var(--24px);
  height: var(--24px);
  padding: var(--padding-0);
}

.bottom {
  margin-bottom: 16px;
}

.icon {
  width: var(--16px);
  height: var(--16px);
}
