.container {
  width: 100%;
  max-width: var(--max-width-s);
}

.title {
  margin-bottom: 26px;
  text-align: center;

  @media screen and (width <= 320px) {
    width: fit-content;
    margin-bottom: 12px;
  }
}

.reminder {
  margin: 20px 0 65px;

  color: var(--color-light-900);
  text-align: center;
  white-space: pre-wrap;

  opacity: 0.5;

  @media screen and (width <= 320px) {
    margin: 10px 0 24px;
  }
}

.button {
  margin-bottom: 20px;
}

.icon {
  width: 100%;

  @media screen and (width <= 320px) {
    width: 66px;
  }
}

.form {
  width: 100%;
}

.confirm {
  margin-top: 15px;
}
