.container {
  max-width: var(--max-width-m);
}

.form {
  width: 100%;
}

.icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.close {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);

  &:hover {
    cursor: pointer;

    color: var(--color-accent-500);

    background-color: var(--color-dark-700);
    border: var(--border-width-s) solid var(--color-dark-300);
    border-radius: var(--border-radius-s);
  }
}

.trash {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
  color: var(--color-danger-500);
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;

  padding: 5px;

  background-color: rgb(23 23 23 / 70%);
  box-shadow: 0 0 5px rgb(250 250 250 / 60%);

  &:hover {
    cursor: pointer;
    background-color: rgb(128 128 128 / 70%);
  }

  &:active {
    background-color: rgb(23 23 23 / 70%);
  }
}

.relative {
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: inline-flex;
}
