.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  margin: 12px 0;

  &:focus-visible {
    border-radius: var(--border-radius-m);
    outline: var(--outline-width-m) solid var(--color-info-500);
    outline-offset: 2px;
  }

  &:hover {
    outline: none;
  }
}

a {
  text-decoration: none;
}
