.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 12px 0;

  &:focus-visible {
    border-radius: var(--5px);
    outline: var(--1px) solid var(--color-info-500);
    outline-offset: var(--2px);
  }

  &:hover {
    outline: none;
  }
}

a {
  text-decoration: none;
}
