.container {
  width: 100%;
  max-width: 420px;
}

.avatar {
  margin: 22px 0 0;
}

.hint {
  margin-bottom: 5px;
  color: var(--color-dark-100);
}

.avatarWrapper {
  position: relative;
}

.buttonSecondary {
  position: absolute;
  top: 90px;
  left: 76px;

  width: 24px;
  height: 24px;
  padding: 0;
}

.buttonLogOutOutline {
  margin-bottom: 10px;

  svg {
    margin-right: 10px;
  }
}

.buttonEdit2Outline {
  svg {
    margin-left: 12px;
  }
}

.svg {
  width: 16px;
  height: 16px;
}
