.root {
  position: relative;
  overflow: hidden;
  background: transparent;
  width: 100%;
  height: 2px;

  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.indicator {
  background-color: var(--color-warning-300);
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
