.inputContainer {
  display: flex;
  align-items: center;
  width: 284px;

  .input {
    width: 284px;
    height: 36px;
    padding: 0.5em;

    font-size: var(--font-size-m);
    line-height: var(--line-height-m);

    background-color: var(--color-dark-900);
    border-radius: 1px;

    &-default {
      border: 1px solid var(--color-dark-300);

      &.iconEye {
        border-left: none;
        border-radius: 0 1px 1px 0;
      }

      &.iconSearch {
        color: var(--color-dark-300);
        border-right: none;
      }

      &.inputWithIconEye {
        border-right: none;
      }

      &.inputWithIconSearch {
        border-left: none;

        &::placeholder {
          color: var(--color-dark-300);
        }
      }
    }

    &-active {
      border: 1px solid var(--color-light-100);
      /* stylelint-disable-next-line no-descending-specificity */
      &::placeholder {
        color: var(--color-light-100);
      }

      &.iconEye {
        border-left: none;
        border-radius: 0 1px 1px 0;
      }

      &.iconSearch {
        border-right: none;
      }

      .iconClose svg {
        width: 16px;
        height: 16px;
      }

      &.inputWithIconEye {
        border-right: none;
      }

      &.inputWithIconSearch {
        border-right: none;
        border-left: none;
      }
    }

    &-error {
      border: 1px solid var(--color-danger-300);

      /* stylelint-disable-next-line no-descending-specificity */
      &::placeholder {
        color: var(--color-danger-300);
      }

      &.iconEye {
        border-left: none;
        border-radius: 0 1px 1px 0;
      }

      &.iconSearch {
        border-right: none;

        svg {
          color: var(--color-dark-300);
        }
      }

      &.inputWithIconEye {
        border-right: none;
      }

      &.inputWithIconSearch {
        border-left: none;
      }
    }

    &-hover {
      border: 1px solid var(--color-dark-300);

      &.iconEye {
        border-left: none;
        border-radius: 0 1px 1px 0;
      }

      &.iconSearch {
        color: var(--color-dark-300);
        border-right: none;
      }

      &.inputWithIconEye {
        border-right: none;
      }

      &.inputWithIconSearch {
        border-left: none;
      }
    }

    &-focus {
      border: 1px solid var(--color-info-700);

      &.iconEye {
        border-left: none;
        border-radius: 0 1px 1px 0;
      }

      &.iconSearch {
        color: var(--color-dark-300);
        border-right: none;
      }

      &.inputWithIconEye {
        border-right: none;
      }

      &.inputWithIconSearch {
        border-left: none;
      }
    }

    &-disabled {
      border: 1px solid var(--color-dark-300);

      &.iconEye {
        color: var(--color-dark-300);
        border-left: none;
        border-radius: 0 1px 1px 0;
      }

      &.iconSearch {
        color: var(--color-dark-300);
        border-right: none;
      }

      &.inputWithIconEye {
        border-right: none;
      }

      &.inputWithIconSearch {
        border-left: none;
      }
    }

    &-small {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-s);
    }

    &-medium {
      font-size: var(--font-size-m);
      line-height: var(--line-height-m);
    }

    &-large {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-l);
    }
  }
}

.label,
::placeholder {
  display: block;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-dark-300);
}
