.container {
  width: 100%;
  max-width: var(--420px);
}

.form {
  width: 100%;
  margin: 50px 0 20px;
}

.hint,
.reminder {
  color: var(--color-light-900);
}

.hint {
  opacity: 50%;
}

.button {
  margin-top: 45px;
}

.link {
  margin-top: 6px;
  text-decoration: underline;
}
