.container {
  width: 420px;
}

.textField {
  margin-bottom: 10px;
}

.checkbox {
  margin: 18px 0;
}

.button {
  margin-bottom: 50px;
}

.typography {
  margin: 20px 0 10px;
}

.buttonSign {
  text-decoration: underline 1px solid;
}
