.container {
  width: 100%;
  max-width: 420px;
}

.textField {
  margin-bottom: 15px;
}

.form {
  width: 100%;
  margin: 22px 0 16px;
}

.checkbox {
  margin: 18px 0;
}

.link {
  margin-bottom: 40px;
  color: var(--color-light-100);
}

.typography {
  margin: 20px 0 10px;
}

.buttonSign {
  text-decoration: underline;
}
