.container {
  width: 100%;
  max-width: 420px;
}

.form {
  width: 100%;
  margin: 24px 0;
}

.link {
  align-self: flex-end;
  margin-bottom: 60px;
  color: var(--color-light-100);

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }
}

.typography {
  color: var(--color-light-900);
}

.buttonSign {
  text-decoration: underline;
}
