button {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.item {
  cursor: pointer;

  position: relative;

  width: 12px;
  height: 12px;

  border: var(--border-width-m) solid var(--color-accent-500);
  border-radius: var(--border-radius-rounded);

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: -100%;
    left: -100%;

    width: 36px;
    height: 36px;

    background-color: transparent;
    border-radius: var(--border-radius-rounded);

    transition: all var(--transition-duration-fast) ease-in-out;
  }

  &:hover::after {
    background-color: var(--color-dark-500);
  }

  &:active::after {
    background-color: var(--color-accent-900);
  }

  &:focus-visible::after {
    background-color: var(--color-dark-700);
  }

  &:hover:disabled::after {
    display: none;
  }

  &[data-disabled] {
    cursor: default;
    border-color: var(--color-accent-900);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &[data-checked],
  &::after {
    content: '';

    display: block;

    width: 8px;
    height: 8px;

    background-color: var(--color-accent-500);
    border-radius: var(--border-radius-rounded);
  }
}

.label {
  cursor: pointer;
  padding-left: var(--padding-s);
  color: var(--color-light-100);
}
