button {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--12px);
}

.item {
  cursor: pointer;

  position: relative;

  width: var(--12px);
  height: var(--12px);

  border: var(--2px) solid var(--color-accent-500);
  border-radius: var(--border-radius-rounded);

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: -100%;
    left: -100%;

    width: var(--36px);
    height: var(--36px);

    background-color: transparent;
    border-radius: var(--border-radius-rounded);

    transition: all var(--transition-duration-fast) var(--ease-in-out);
  }

  &:hover::after {
    background-color: var(--color-dark-500);
  }

  &:active::after {
    background-color: var(--color-accent-900);
  }

  &:focus-visible::after {
    background-color: var(--color-dark-700);
  }

  &:hover:disabled::after {
    display: none;
  }

  &[data-disabled] {
    cursor: default;
    border-color: var(--color-accent-900);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &::after,
  &[data-checked] {
    content: '';

    display: block;

    width: var(--8px);
    height: var(--8px);

    background-color: var(--color-accent-500);
    border-radius: var(--border-radius-rounded);
  }

  &[data-disabled]::after {
    background-color: var(--color-accent-900);
  }
}

.label {
  cursor: pointer;
  padding-left: var(--12px);
  color: var(--color-light-100);

  &.disabled {
    color: var(--color-light-900);
  }
}
