.tabsTrigger {
  cursor: pointer;
  user-select: none;

  padding: 6px 24px;

  color: var(--color-light-100);

  background: var(--color-dark-900);
  border: var(--border-width-s) solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);

  &:hover {
    color: var(--color-light-900);
    background: var(--color-dark-300);
    border: var(--border-width-s) solid var(--color-dark-100);
  }

  &:disabled {
    cursor: default;
    color: var(--color-dark-300);
    background: var(--color-dark-700);
    border: var(--border-width-s) solid var(--color-dark-300);
  }

  &:focus {
    outline: var(--outline-width-m) solid var(--color-info-500);
  }

  &[data-state='active'] {
    background: var(--color-accent-500);
    border: var(--border-width-s) solid var(--color-accent-500);
    border-radius: var(--border-radius-xs);

    // Force styles apply on hover if element is active
    &:hover {
      color: var(--color-light-100);
      background: var(--color-accent-500);
      border: var(--border-width-s) solid var(--color-accent-500);
    }
  }
}

.label,
.tabTitle {
  margin: 5px 0;
}

.disabled {
  color: var(--color-dark-300);
}
