.container {
  width: 100%;
  max-width: 420px;
  margin-bottom: 100px;
}

.title {
  align-self: center;
  margin-bottom: 26px;
}

.incoming {
  margin-left: 0.25rem;
}

.hint {
  color: var(--color-dark-100);
}

.button {
  margin: 40px 0 24px;
}
