.container {
  width: 100%;
  max-width: var(--max-width-s);
  margin-bottom: 100px;
}

.title {
  align-self: center;
  margin-bottom: 26px;
}

.incoming {
  display: inline;
}

.hint {
  color: var(--color-dark-100);
}

.button {
  margin: 40px 0 24px;
}
