.typography {
  font-family: var(--font-family-primary);
  text-align: left;

  &-h1,
  &-h2,
  &-h3,
  &-h4,
  &-subtitle1,
  &-subtitle2 {
    font-weight: var(--font-weight-bold);
  }

  &-h1 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-l);
  }

  &-h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-l);
  }

  &-h3 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }

  &-h4 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }

  &-body1,
  &-body2,
  &-link1,
  &-link2 {
    font-weight: var(--font-weight-regular);
  }

  &-body1,
  &-subtitle1 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }

  &-subtitle1 {
    line-height: var(--line-height-s);
  }

  &-body2,
  &-link1 {
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }

  &-caption,
  &-overline,
  &-link2 {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}
