.icon {
  width: 16px;
  height: 16px;
  color: var(--color-light-100);
}

.settingsItem {
  margin: var(--margin-12px-0);
}

.link {
  display: flex;
  gap: 6px;
}

.triggerIcon {
  &:hover {
    color: var(--color-accent-300);
  }
}
