.addNewCard {
  width: 542px;
}

.description {
  margin-bottom: 24px;
}

.subtitle2 {
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: 119px;
  margin: 20px 0 !important;
  background: url('@/assets/jpg/cover-default.jpg') center / cover;
}

.svg {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}
