.paginationContainer {
  display: flex;
  gap: var(--gap-l);
  align-items: center;
  align-self: start;
}

.paginationOption {
  display: flex;
  place-content: center center;

  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  padding: 0 8px;

  background-color: transparent;
  border-radius: var(--border-radius-xs);
  box-shadow: none;

  transition: background-color var(--transition-duration-default) ease;

  &:not(.selected):hover {
    background-color: var(--color-dark-500);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-dark-100);
    background-color: var(--color-light-100);
  }

  &.disabled:hover {
    cursor: default;
  }
}

.selected {
  pointer-events: none;
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
}

.arrow {
  width: var(--arrow-size-s);
  height: var(--arrow-size-s);
}

.arrowRight {
  transform: rotate(var(--180-deg));
}

.dots {
  pointer-events: none;
  cursor: default;
}

.selectOption {
  width: 50px;
  height: 24px;
  padding: 0 6px;
}

.nowrap {
  text-wrap: nowrap;
}
