.goBack {
  align-self: start;
  color: var(--color-light-100);
}

.icon {
  width: var(--icon-s);
  height: var(--icon-s);
}

.learnDeck {
  margin-left: auto;
}

.pagination {
  align-self: start;
}
