.goBack {
  align-self: start;
  color: var(--color-light-100);
}

.icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.cardControl {
  margin-left: auto;
}

.pagination {
  align-self: start;
}
