.container {
  width: 100%;
  max-width: 420px;
}

.form {
  width: 100%;
  margin-top: 26px; // мона повесить класс на flexContainer
}

.typography {
  color: var(--color-light-900);
  opacity: 0.5;
}

.button {
  margin-bottom: 26px; // мона повесить класс на flexContainer
}
