.viewport {
  position: fixed;
  z-index: 2147483647;
  right: 0;
  bottom: 0;

  width: 100%;
  max-width: var(--max-width-xs);
  padding: 0;

  list-style: none;
}

.container {
  padding: var(--padding-m);
  box-shadow: var(--shadow-m) rgba(255, 255, 255, 0.2);
}

.root {
  padding: var(--padding-m);
}

.root[data-state='open'] {
  animation: slide-in var(--transition-duration-fast) cubic-bezier(0.16, 1, 0.3, 1);
}

.root[data-state='closed'] {
  animation: hide var(--transition-duration-fast) ease-in;
}

.success {
  color: var(--color-success-300);
}

.error {
  color: var(--color-danger-300);
}

.warning {
  color: var(--color-warning-300);
}

.button {
  svg {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
  }

  &:hover {
    opacity: 0.5;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(calc(100%));
  }

  to {
    transform: translateX(0);
  }
}
